<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop - Rules - Debug" ToolsVersion="18.0">
  <Rules AnalyzerId="MSTest.Analyzers" RuleNamespace="MSTest.Analyzers">
    <Rule Id="MSTEST0001" Action="Warning" />
    <Rule Id="MSTEST0007" Action="Warning" />
    <Rule Id="MSTEST0016" Action="Warning" />
    <Rule Id="MSTEST0017" Action="Warning" />
    <Rule Id="MSTEST0023" Action="Warning" />
    <Rule Id="MSTEST0024" Action="Warning" />
    <Rule Id="MSTEST0025" Action="Warning" />
    <Rule Id="MSTEST0030" Action="Warning" />
    <Rule Id="MSTEST0031" Action="Warning" />
    <Rule Id="MSTEST0032" Action="Warning" />
    <Rule Id="MSTEST0034" Action="Warning" />
    <Rule Id="MSTEST0035" Action="Warning" />
    <Rule Id="MSTEST0037" Action="Warning" />
    <Rule Id="MSTEST0045" Action="Warning" />
    <Rule Id="MSTEST0046" Action="Warning" />
    <Rule Id="MSTEST0049" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.Analyzers">
    <Rule Id="RS1001" Action="None" />
    <Rule Id="RS1025" Action="None" />
    <Rule Id="RS1026" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Error" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0290" Action="None" />
  </Rules>
  <Rules AnalyzerId="Reihitsu.Analyzer" RuleNamespace="Reihitsu.Analyzer">
    <Rule Id="RH0002" Action="Error" />
    <Rule Id="RH0003" Action="Error" />
    <Rule Id="RH0004" Action="Error" />
    <Rule Id="RH0005" Action="Error" />
    <Rule Id="RH0006" Action="Error" />
    <Rule Id="RH0007" Action="Error" />
    <Rule Id="RH0008" Action="Error" />
    <Rule Id="RH0009" Action="Error" />
    <Rule Id="RH0010" Action="Error" />
    <Rule Id="RH0011" Action="Error" />
    <Rule Id="RH0012" Action="Error" />
    <Rule Id="RH0013" Action="Error" />
    <Rule Id="RH0104" Action="Error" />
    <Rule Id="RH0105" Action="Error" />
    <Rule Id="RH0106" Action="Error" />
    <Rule Id="RH0107" Action="Error" />
    <Rule Id="RH0108" Action="Error" />
    <Rule Id="RH0109" Action="Error" />
    <Rule Id="RH0110" Action="Error" />
    <Rule Id="RH0111" Action="Error" />
    <Rule Id="RH0228" Action="Error" />
    <Rule Id="RH0601" Action="Error" />
    <Rule Id="RH0602" Action="Error" />
    <Rule Id="RH0603" Action="Error" />
    <Rule Id="RH0604" Action="Error" />
    <Rule Id="RH0605" Action="Error" />
    <Rule Id="RH0606" Action="Error" />
    <Rule Id="RH0607" Action="Error" />
    <Rule Id="RH0608" Action="Error" />
    <Rule Id="RH0609" Action="Error" />
    <Rule Id="RH0610" Action="Error" />
    <Rule Id="RH0611" Action="Error" />
    <Rule Id="RH0612" Action="Error" />
    <Rule Id="RH0613" Action="Error" />
    <Rule Id="RH0614" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1710" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1710" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1025" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SX1101" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>
