name: Publish Teshigoto

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build
        run: dotnet build -c Release
        
      - name: Publish
        run: dotnet nuget push "Reihitsu.Analyzer/Reihitsu.Analyzer.Package/**/*.nupkg" --skip-duplicate
